<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Regression Test Suite">
    <test name="Automation Test">
        <classes>
            <class name="com.authority.job.chittagong.LoginOrangeHrm">
            </class>
        </classes>
    </test>
</suite>